html {
  min-width: 300px;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  background-color: black;
  height: 100vh;
}

nav {
  font-size: 1.2rem;
}

nav a:hover {
  color: red;
}

main, header {
  padding: 1rem;
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMjUta3JvaXJnbWIuanBn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5em;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0;
}

footer p {
  margin: 0;
}

.title {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

.realce {
  color: green;
}

.foto {
  width: 150px;
  height: auto;
  min-height: 150px;
  border-radius: 80%;
  border: solid;
  align-self: center;
}

.foto:hover {
  border: solid green;
}

.like {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links {
  font-size: 2rem;
  text-align: center;
}

.links li {
  list-style: none;
}

.links li:hover a:hover {
  color: green;
  padding: 0.5rem;
  background-color: black;
}

#foto-du {
  margin-right: 1.2rem;
  float: left;
}




/* MODAL  */

.meu-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.meu-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






@media (min-width: 800px) {

  .like {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .likes {
      padding-bottom: 1rem;
      border: solid 1px #9DD9E4;
      margin: 0.1rem;
  }

  .free-text {
      font-size: 1.5rem;
      padding-left: 3em;
      padding-right: 3em;
  }

  #foto-du {
      margin: 3.2rem;
  }
}
